# Copy to backend.hcl and fill in your values

resource_group_name  = "YOUR_RESOURCE_GROUP_NAME"
storage_account_name = "YOUR_STORAGE_ACCOUNT_NAME"
container_name       = "YOUR_CONTAINER_NAME"
key                  = "YOUR_STATE_KEY_NAME.tfstate"